@charset "UTF-8";
/* CSS Document */

header h2{
	font-size: 50px;
	font-family:Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	font-weight: 400;
	font-style: normal;
		text-align: center;}
		
		a{color: #00577B}

		
	body{
		background: url("bballon.jpg") no-repeat; background-position: center;}

		
.reason {display: grid;}

		
		.box1 {width: 400px;
	float:left;
	margin-top: 30px;
	margin-left: 40px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 18px; 
			background: #7A7A7A; 
			padding: 1em; 
}


.right {width: 400px;
	float:right;
	margin-left: 0px;
	margin-top: 30px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 18px;
background: #ABABAB; padding: 1em;}

p{color:blue;}